<!doctype html>
<html>
  <head>
    <title>Chatroom</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style>
      .chat-content {

      }

      html{ font: Helvetica, Arial; width: 100vw; height: 100vh; overflow: hidden;display: block; position: absolute;}
      @media screen and (min-width: 993px){
      body{ font: 2vw Helvetica, Arial; position: relative;}
      }
      @media screen and (max-width: 992px){
      	body{
      		font-size: 20vw; position: relative;
      	}
      }
      @media screen and (max-width: 600px){
        body{
          font-size: 30vw; position: relative;
        }
      }
      form { background: grey; padding: 3px; position: relative; bottom: 0; }
      form input { border: 0; padding: 10px; width: 60vw; margin-right: .5vw; display: inline;}
      form button { width: 9vw; background: rgb(130, 224, 255); border: none; padding: 10px; display: inline;}
      #message_user {
        color: blue;
      }
      .message{
      	padding-top
      	position: relative;
      	display: block;
      }
      .message_nickname {
        position: relative;
        font-weight: bold;
        display: inline-block;
        padding-left: 7vw;
      }
      .date_content {
        display: inline-block;
        color: grey;
      }
      .message_content {
        display: block;
        color: grey;
        position: relative;
        padding-left: 7vw;
      }

      .profile_picture{
        height: 5vh;
        display: inline-block;
      }

      #king {
        color: blue;
        display: inline-block;
      }

      #messages{
      	height: 92vh;
		  position: relative;
		  overflow-y: scroll;
      }

      #image{
        background-color: grey;
      }
      #msg_img{
        width: 40vw; 
        
      }
      .container-fluid{
      	overflow: auto;
      }	

    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<%var chatroomid_forscript = chatroom.id %>
<% var user_nickname = user%>
<script>
  var chatroom_id = "<%=chatroomid_forscript%>";
  var chatroom_nickname = "<%=user_nickname%>";
  $(function () {
    //socket.io 서버에 접속하기 위한 메소드
    var objDiv = document.getElementById("messages");
    objDiv.scrollTop = objDiv.scrollHeight;
    var socket = io();
    $('#fileUploadForm').submit(function(e){
      e.preventDefault(); // prevents page reloading
      
      var form = $('#fileUploadForm')[0];
      var data = new FormData(form);
      $("#btnSubmit").prop("disabled", true);
      //서버로 메세지 송신
      socket.emit('chat message', data);
      $.ajax({
        type: "POST",
        url: "/chatroom/" + chatroom_id,
        enctype: 'multipart/form-data',
        dataType: "application/x-www-form-urlencoded",
        processData: false,
        contentType: false,
        cache: false,

        data: data
      });
      $('#m').val('');
      $('#image').val('');
      $("#btnSubmit").prop("disabled", false);
    });

    //접속되어있는 서버로부터 메세지 수신
    socket.on('chat message', function(msg){
      var isUser = "message_user";
      if (msg.nickname != chatroom_nickname){
        isUser = "message";
      }
      var date = new Date(msg.createdAt);
      var d = date.getDate();
      var m = date.getMonth() + 1;
      var y = date.getFullYear();
      var date = y + "-" + m + "-" + d;
      if (msg.typeOf == 'msg'){
      $('#messages').append("<div id="+isUser+" class='message'><div class='message_nickname'>" + msg.nickname +"</div>" + "<div class='date_content'>" + date + "</div>" + "<div class='message_content'>" + msg.message + "</div></div><hr>");
      } else {
        $('#messages').append("<div id="+ isUser + " class='message'><div class='message_nickname'>" + msg.nickname + "</div>" + "<div class='date_content'>" + date + "</div>" +  "<img class='message_content' id='msg_img' width='100px' height:'' src="+ msg.message +"></div>");
      }
     objDiv.scrollTop = objDiv.scrollHeight;
    });
  });

</script>
  </head>
  <body> 
    <div class="chat-content container-fluid d-flex h-100 flex-column">
    	<div class="row flex-fill">
    		<div class="col-9 " style="padding-left:0px">
		   	 <div id="messages">
		      <% chatroom.messages.forEach(function(messages){%>
		      <% if (messages.nickname == user_nickname){ %>
		      <div id="message_user" class="message">
                  <%var date = new Date(messages.createdAt);
                    var d = date.getDate();
                    var m = date.getMonth() + 1;
                    var y = date.getFullYear();
                    var date = y + "-" + m + "-" + d;%>
              <img class="profile_picture">
		      	<% if (messages.typeOf == "img") {%>
		      		<div class="message_nickname"><%=messages.nickname%></div>
              <div class='date_content'><%=date%></div> 
              <img class="message_content" id='msg_img' src="<%= messages.message%>">
		     		 </div>
		     	<% }else{%>
		       		<div class="message_nickname"><%=messages.nickname%></div>
              <div class='date_content'><%=date%></div>
              <div class="message_content"><%= messages.message %></div>
		      		</div>
              <hr>
		      	<%}%>
		      <%};%>
		      <%});%>
      </div>
    <form id="fileUploadForm" enctype="multipart/form-data"> 
      <label for="img_file"><img src="https://c7.uihere.com/icons/637/810/365/upload-608dda053d28b44479642d71692c02ea.png" width="20px"></label>
      <input id="img_file" type="file" name="img_file" accept=".jpg, .jpeg, .png" value="" hidden>
      <input id="m" type="text" name="message">
      <button id="btnSubmit">Send</button>
    </form>
  </div>
  <div class="chat-metadata col-3">
    <div id="users">
      <h4>Users</h4>
      <div>Online</div>
      <% roomData.forEach(function(nickname){%>
        <img class="profile_picture" src="<%=nickname.profile_picture%>">
        <% if (nickname.user_id == nickname.king_user_id){ %>
          <div id='king'><%= nickname.nickname%></div>
        <% } else {%>

          <div><%=nickname.nickname%></div>

        <%}%>
      <%});%>
      </div>
	   </div>
    </div>
  </div>
  </body>
</html>