<!doctype html>
<html>
  <head>
    <title>Chatroom</title>
    <style>
      .chat-content {
        width: 80%;
      }
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 80%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      .chat-metadata{
        width: 20%;
        right: 0;
        top: 30px;
        position: fixed;
      }
      .users{
        padding-left: 30px;
      }
    /*  #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages { padding: 5px 10px; }
      #messages div:nth-child(odd) { background: #eee; }*/
      .message {
        font-size: 17px;
        padding-top: 5px;
        padding-left: 15px;
      }

      .message_nickname {
        display: inline; 
        font-weight: bold;
        
      }

      .message_content {
        padding-left: 5px;
        padding-top: 10px;
        display: inline;
        color: grey;
      }
      #king {
        color: red;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%var chatroomid_forscript = chatroom.id %>
<% var user_nickname = user%>
<script>
  var chatroom_id = "<%=chatroomid_forscript%>";
  var chatroom_nickname = "<%=user_nickname%>";
  $(function () {
    //socket.io 서버에 접속하기 위한 메소드
    var socket = io();
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      //서버로 메세지 송신
      socket.emit('chat message', $('#m').val());
      $.ajax({
        type: "POST",
        url: "<%=process.env.PORT%>" + "/chatroom/" + chatroom_id,
        dataType: "application/x-www-form-urlencoded",
        data: {message:$('#m').val()}
      });
      $('#m').val('');
    });
    //접속되어있는 서버로부터 메세지 수신
    socket.on('chat message', function(msg){
      $('#messages').append("<div class='message'><div class='message_nickname'>" + msg.nickname + "</div>" + ": " + "<div class='message_content'>" + msg.message + "</div></div>");
    });
  });
</script>
  </head>
  <body>
    <div class="chat-content">
    <div id="messages">
      <% chatroom.messages.forEach(function(messages){%>
      <div class="message">
        <div class="message_nickname"><%=messages.nickname%></div>: <div class="message_content"><%= messages.message %></div>
      </div>
      <%})%>
    </div>
    <form> 
      <input id="m" name="message" type="text"><button>Send</button>
    </form>
  </div>
  <div class="chat-metadata">
    <div class="users">
      <h1>Users</h1>
      <div>Online</div>
      <% roomData.forEach(function(nickname){%>
        <% if (nickname.user_id == nickname.king_user_id){ %>
          <div id='king'><%= nickname.nickname%></div>
        <% } else {%>
          <div><%=nickname.nickname%></div>
        <%}%>
      <%});%>
    </div>
  </div>
  </body>
</html>